/* common style code start*/
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}

html{

    font-size:20px;
    font-family:'Joan',sans-serif;
    scroll-behavior: smooth;
    background-color:#fff;
    opacity:0.95;
    z-index:-1;
    width:100%;
}

a{
    text-decoration:none;
}

.active{
    border: rgba(255,165,0,.8);
}

h2{
    color:rgb(2,2,2);
    font-weight:500;
    font-size:1.8rem;
    letter-spacing:.01rem;
    margin-top:10px;
    margin-bottom:10px;
}

p{
    color:rgb(2,2,2);
    font-size:20px;
    margin-top:2px;
    line-height:2rem;
    font-weight:200;
    letter-spacing:0.05rem;
    margin-bottom:5px;

}

/* common style code ends*/


/* nav and logo start*/

nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:8vh;
    font-family:'Joan',sans-serif;
    background-color: rgb(81, 0, 128);
    /*background-color: rgba(13,44,44,0.6);*/
    z-index:1;
    position:fixed;
    top: 0;
}

nav{
    margin-top:0;
    width:100%;
}

.logo h1{
    color:#fff;
    letter-spacing:5px;
    font-size:20px;
    text-decoration:none;

}

.navigation-links{
    display:flex;
    justify-content:space-around;
    width:50%;
    margin-left:50px;
    
}

.navigation-links li{
    list-style:none;
}

.navigation-links a{
    /*color:rgb(226,226,226);*/
    color: #fff;
    text-decoration:none;
    letter-spacing:3px;
    font-weight:bold;
    font-size:0.938rem;
}

.navigation-links a:hover{
    border-bottom:2px solid orange;
}

/* nav and logo code ends*/


/* hero statement section*/

#hero-statement{
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
    text-align:center;
    bottom: 100px;
    margin-top: 80px;
    margin-bottom: 15px;
}

#hero-statement h1{
    color:#fff;
    text-align:center;
    font-size:30px;
    font-weight:bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(13,44,44,0.8);
    width:100%;
    line-height:40px;
}

/*services section*/
#services {
    background-color: blueviolet;
    /*width: 100%;*/
}
#services{
  
    height:25vh;
    margin:20px 10px;
    justify-content: center;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
 }

#services .services-container{
    align-items:center;
    justify-content:center;
    display:flex;
    text-align:center;
    margin-top: 20px;
    height:20vh;
}

.services-container .services-intro{
    text-align:center;
    padding-bottom:70px;
    padding-top:30px;
    width:fit-content;
    
}

.services-container .services-intro h1{
    color:#000;
    font-weight:bold;
    text-align:center;
    font-size:30px;
    text-transform:uppercase;

}

.services-container .services-intro p{
    width:100%;
    margin:0 auto;
    font-size:25px;
    display:block;
    text-align:center;
    color: #000;
}

.services-intro {
    width:100%;
    margin:20px 30px;
}

.services-details {
    background-color: bisque;

}
 .services-details {
    /*height:100vh;*/
    display: inline-block;
    margin:50px 50px;
    justify-content: center;
    width:100%;
 }

 .services-details h1 {
    text-align: center;
    color: #009688;
}

#left-item{
    float:left;
    align-items: center;
}

#right-item{
    float: right;
    align-items:center;
}

.services-list-left{
    padding:20px 20px 20px 20px;
    float: left;
    width:50%;
    margin-bottom:50px;
    margin-left:20px;
    flex-basis:50%;
    margin-left:30px;
    align-items:center;
    margin:0 auto;
}
    
.services-list-right{ 
    padding:20px 20px 20px 20px;
    float:right;
    width:50%;
    margin-bottom:50px;
    margin-left:20px;
    flex-basis:50%;
    margin-left:10px;
    align-items:center;
    margin:0 auto;
 }


.services-list-left h3{
    text-align:left;
    margin-bottom:10px;
    font-weight:100;
    color:#009688;
    font-size:25px;

}

.services-list-right h3{
    text-align:left;
    margin-bottom:10px;
    font-weight:100;
    color:#009688;
    font-size:25px;
  
}

.services-list-right p{
    text-align:left;
    /*justify-items: center;*/
    margin-bottom:10px;
    font-weight:10;
    color: black;
    font-size:17px;
    width:100%;
    
 
}
.services-list-left p{
    text-align:left;
    /*justify-items: center;*/
    margin-bottom:10px;
    font-weight:10;
    color: black;
    font-size:17px;
    width:100%;
 
}


/* Contact details section*/

#contact-details {
    margin: 30px 50px;
    width: 100%;
}

.contact-items {
    height: auto;
    width: 100%;
    /*top: 10px;*/
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.contact {
    text-align:center;
    bottom: 20px;
    top: 20px;
}

.left-details h3{
    text-align:center;
    margin-bottom:10px;
    font-weight:60;
    color:#009688;
    font-size:20px;
}
.middle-details h3{
    text-align:center;
    margin-bottom:10px;
    font-weight:60;
    color:#009688;
    font-size:20px;
}

.right-details h3{
    text-align:center;
    margin-bottom:10px;
    font-weight:60;
    color:#009688;
    font-size:20px;
}

.left-details p{
    text-align:center;
    justify-items:center;
    margin-bottom:10px;
    font-weight:10;
    color:black;
    font-size:20px;
}

.right-details p{
    text-align:center;
    justify-items:center;
    margin-bottom:10px;
    font-weight:10;
    color:black;
    font-size:20px;
}

.middle-details p{
    text-align:center;
    justify-items:center;
    margin-bottom:20px;
    font-weight:10;
    color:black;
    font-size:20px;
}

.left-details{
    width:200px;
   /* text-align:center;*/
    border-radius:10px;
    padding:30px;
    margin:30px;
    /*justify-content:center;
    align-items:center;*/
    box-shadow:0 0 18px #0201012c;
    transition:.3s ease box-shadow;
    float: left;
}

.middle-details{
    width:400px;
    /*text-align:center;*/
    border-radius:10px;
    padding:30px;
    margin:30px;
    /*justify-content:center;
    align-items:center;*/
    box-shadow:0 0 18px #0201012c;
    transition:.3s ease box-shadow;
    display: flex;
}

.right-details{
    width:400px;
    text-align:center;
    border-radius:10px;
    padding:30px;
    margin:30px;
    /*justify-content:center;
    align-items:center;*/
    box-shadow:0 0 18px #0201012c;
    transition:.3s ease box-shadow;
    display: flex;
    float: right;
}

.middle-details:hover{
    box-shadow:0 0 5px 0 #0000002c;
}

.right-details:hover{
    box-shadow:0 0 5px 0 #0000002c;
}

.left-details:hover{
    box-shadow:0 0 5px 0 #0000002c;
}

.contact-list-details h3{
    font-size:1.5rem;
    font-weight:300;
    margin-bottom:5px;
}

.contact-list-details h4{
    font-size:1rem;
    font-weight:500;
    line-height:2rem;
    margin-bottom:5px;
}

.contact-list-details:hover{
    box-shadow:0 0 5px 0 #0000002c;
}

/* Footer start*/


.footer-links-container{
    /*background-color:rgba(13,44,44,0.8);*/
    background-color: rgb(81, 0, 128);
    text-align: center;
    width:100%;
    height: 15vh;
    position: absolute;
    color: white;
    display:block;
    padding:20px;
    box-sizing:border-box;
    margin: 0 auto;
}

.social-media-links i{
    color: white;
    font-size:30px;
}

.social-media-links a:hover{
    /*box-shadow:0 0 5px 0;*/
    width:.5px;
    height:.5px;
    border-radius:50%;
    align-items: center;
}

.social-media-links a{
    display:inline-block;
    font-size:20px;
    font-weight:bold;
    justify-content:space-between;
    text-align: center;
    padding:15px 30px 15px 30px;
}

.footer-links p{
    text-align: center;
    letter-spacing:10px;
}

/*enquiry form*/

.enquiry-form{
    /*background-image:url('../images/office-picture.jpg');*/
    background-size:cover;
    background-position: center;
    height: 110vh;
    overflow:hidden;
    transition:0s;
}

.enquiry{
    /*margin:150px 10% 0 0;*/
    color: #fff;
    max-width:700px;
    position:absolute;
    padding:20px;
    left:10%;
    background-color:rgba(13,44,44,0.8);
    /*position:relative;*/
    margin-bottom:70px;
    margin-top:100px;
}

.text-input{
    width:100%;
    padding:10px;
    border:1px solid #fff;
    margin-top:10px;
    margin-bottom:20px;
    resize:vertical;
    height:25px;
    margin:5px 0 10px 0;
    border-radius:2px;

}

.enquiry h2, p{
    margin-top:auto;
    margin-bottom:15px;
    text-align:left;
    color: #fff;
}

textarea {
    margin-top: 30px;
    margin-bottom: 10px;
}

#btn {
    padding: 10px;
    width: auto;
    border: none;
    color: #000;
    margin: 10px 10px;
    background-color: #fff;
    font-size: 15px;
}
#location {
    padding: 10px;
}

/*media queries start*/

@media (max-width: 320px) {

    .logo{
        font-size:5px;
    }
    nav{
       text-align: center;
       top: 0;
       width: 50%;
    }

    .navigation-links{
        width: 80%;
        height: 10vh;
        font-size: 5px;
        /*margin-left:10px;*/
        top: 30px;
        
    }

    .hero-statement{
        
        
        text-align:center;
        /*display:flex;
        background-color: chartreuse;
        width:100%;
        color:#fff;
        text-align:center;
        font-size:30px;
        font-weight:bolder;

        line-height:20px;*/
    }

    /*.services-intro{
        height:100px;
        margin-top: 40px;
        margin-bottom: 150px;
        text-align: center;
        justify-content: center;
        width: 45%;
        display: flex;
    }*/

   /* #services {
        background-color: blueviolet;
        width: 100%;
        height:auto;
        margin-top: 30px;
        width: 100%;
    }*/

    #services{
      
         height:35vh;
        /* margin-top: auto;
        margin:50px 50px;
        justify-content: center;*/
        width:100%;
        /*display: flex;
        justify-content: center;
        align-items: center;*/
    
     }

     #services p{
        text-align: center;
        width: 100%;
     }

    .services-container{
        text-align: center;
        width: 100%;
    }

    .services-details {
        background-color: bisque;
        width: 20rem;
    
    }

    .footer-links-container{
        /*background-color:rgba(13,44,44,0.8);
        text-align: center;*/
        width:100%;
        height: 15vh;
        /*position: absolute;
        color: white;
        display:block;
        padding:20px;
        box-sizing:border-box;
        margin: 0 auto;*/
    }


}